* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container {

    height: 100%;
    width: 100%;
    font-family: "Fira Sans", sans-serif;
    background: black;
    background: #08151E;

}

#heading {
    font-size: 3rem;
    border: 2px solid rgba(255, 255, 255, 0.15);
    background: black;
    color: aliceblue;
    width: 100%;
    text-align: center;
    position: relative;


}


nav {
    width: 100%;
    display: grid;
    outline: none;
    grid-auto-flow: column;
    grid-gap: 20px;
    padding: 5%;
    background: black;
    text-align: center;



}


.navBtn {
    background: #114357;
    background: -webkit-linear-gradient(to right, #F29492, #114357);
    background: linear-gradient(to right, #F29492, #114357);
    height: 5vh;
    color: white;
    line-height: 5vh;
    border: none;
    outline: none;
    cursor: pointer;

    box-shadow: 2px 2px black;
    scrollbar-highlight-color: #3CB371;
    border-radius: 20px;
    text-decoration: none;
    background: rgba(231, 83, 83, 0.5);
}

img {
    width: 40%;

    border-radius: 100%;
}

main {
    padding: 10% 10%;
    text-align: center;
    line-height: 130%;
    width: 100%;

}

#animHeading {
    margin-bottom: 4%;
    text-align: center;
    line-height: 130%;
    color: white;

}

@media screen and (max-width: 359px) {
    nav {
        grid-auto-flow: row;
    }

}

.navBtn:hover {
    background: rgba(182, 42, 0, 0.8);
}


.html,
.css,
.javascript {

    color: rgb(243, 228, 24);
    font-size: 2rem;
    line-height: 130%;
    background: rgba(12, 32, 77, 0.7);
    border-radius: 20px;
    padding: 5% 5%;
    margin-top: 10%;
    box-shadow: 9px 9px 20px black;
    width: 100%;

}

.wrap {

    margin-bottom: 10%;
    display: grid;
    grid-auto-flow: row;
    grid-gap: 20px;
}

footer {
    text-align: center;
    color: white;
    background: #01072B;
    padding: 10% 0;
    line-height: 190%;
    text-align: center;
    padding-bottom: 0;
}

.contact {
    background: #FF512F;
    background: linear-gradient(to right, #1c84a6, #3CB371);
    color: white;
    font-size: 0.8rem;
    font-family: "Oswald", "Helvetica Neue", sans-serif;
    padding: 0.6rem 1.5rem;
    border-radius: 4px;
    transition: 0.3s all ease-in-out;
    letter-spacing: 1.1px;
    text-decoration: none
}

.contact:hover {
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 0 5px 2px rgba(39, 147, 126, 0.35);
}

#typing {
    background: rgb(226, 205, 43);
    padding: 1%;
    color: black;
    border-radius: 5px;
}

#foot {
    margin-bottom: 0;
    font-size: 0.9rem;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#heading {
    outline: none;
    border: none;

    animation: headanimation 0.9s ease-in-out infinite alternate;
}

@keyframes headanimation {
    0% {

        color: white;

    }

    50% {
        color: darkgrey;
    }

    100% {

        color: grey;
    }
}

img {
    animation: imgrotate 3s ease-out infinite;

}

@keyframes imgrotate {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(1440deg);
    }
}

form {
    width: calc(100% -8%);
    height: 100%;
    margin-top: 2%;
    border: 2px solid green;
    margin: 2%;
    padding: 2%;
    background-image: linear-gradient(to right, #1d1b1b 0%, black 100%);
}

form>input {
    border: none;
    outline: none;
    height: 6vh;
    padding: 1%;
    border-radius: 7px;
    width: 60%;
    font-size: 1rem;
}

textarea {
    border-radius: 6px;
    padding: 2%;
    width: 69%;
    font-size: 1.2rem;
}

.name:focus,
.email:focus {
    width: 70%;
}

form input[type="submit"] {
    width: 30%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    cursor: pointer;
}

input[type="submit"]:hover {
    opacity: 0.8;
    box-shadow: 0 0 5px 2px rgba(39, 147, 126, 0.35);
}

#contact {
    position: relative;
    top: 10px;
}

#btn {
    border: none;
    background: none;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 99;
    display: none;
    font-size: 1.7rem;
    outline: none;
    cursor: pointer;
    color: white;
}
